<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Молодечненский торгово-экономическмй колледж
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&amp;family=Open+Sans:wght@400;600&amp;display=swap&amp;subset=cyrillic", rel="stylesheet")
		link(rel="stylesheet", href="css/owl/owl.carousel.min.css")
		link(rel="stylesheet", href="css/style.css")
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js")
	body
		include svg.pug
		//- Hdr
		header.hdr
			.hdr__container.container
				p.hdr__desc УО МОЛОДЕЧНЕНСКИЙ ТОРГОВО-ЭКОНОМИЧЕСКИЙ КОЛЛЕДЖ БЕЛКООПСОЮЗА
				nav
					ul.hdr__menu
						li
							a.hdr__menu-link(href="#") Новости
							a.hdr__menu-link(href="#") О колледже
							a.hdr__menu-link(href="#") Абитуриенту
							a.hdr__menu-link(href="#") Специальности
							a.hdr__menu-link(href="#") Учащимся
							a.hdr__menu-link(href="#") Галерея
							a.hdr__menu-link(href="#") Связь

