<svg style="display: none;">
    <symbol id="icon-location"  viewBox="0 0 11 15" fill="none">
        <path d="M5.5 0C2.50454 0 0.0675659 2.43697 0.0675659 5.4324C0.0675659 9.14982 4.92906 14.6072 5.13604 14.8377C5.33046 15.0543 5.66989 15.0539 5.86395 14.8377C6.07094 14.6072 10.9324 9.14982 10.9324 5.4324C10.9324 2.43697 8.49543 0 5.5 0ZM5.5 8.1656C3.99291 8.1656 2.76683 6.93949 2.76683 5.4324C2.76683 3.92531 3.99294 2.69924 5.5 2.69924C7.00706 2.69924 8.23313 3.92534 8.23313 5.43243C8.23313 6.93952 7.00706 8.1656 5.5 8.1656Z" fill="#54B125"/>
    </symbol>
</svg>