@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss"
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss"

*
    box-sizing: border-box

.container
    margin: auto
    width: 1200px
    padding: 0 15px
    max-width: 100%


// @ import "includes/media.sass"