//@media only screen and (max-width: 1199px)

//@media only screen and (max-width: 1079px)

//@media only screen and (max-width: 991px)

@media only screen and (max-width: 767px)
    .news-arch__item-img-wrap
        width: 60%

    // Pag
    // a.pag__num
    //     width: 30px
    //     height: 30px
    //     font-size: 16px
    //     margin: 0 2px

    .pag__prev
        margin-right: 10px

    .pag__next
        margin-left: 10px

    .pag__num:nth-child(6)
        display: none

@media only screen and (max-width: 575px)
    .news-arch__item
        flex-direction: column
        max-height: 100%

    .news-arch__item-img-wrap
        width: 100%
        height: 50%

    .news-arch__item-img
        min-height: 180px
        max-height: 180px

@media only screen and (max-width: 480px)
    .pag__num:nth-child(5)
        display: none

    a.pag__num
        width: 30px
        height: 30px
        font-size: 16px
        margin: 0 5px