.intro
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    position: relative;

    &::before
        @include img-filter

.intro__inner
    position: relative

    z-index: 2

    padding: 20px 0 50px

    display: flex
    flex-direction: column
    justify-content: space-between

    height: 100%

.intro__title
    text-transform: uppercase
    font-size: 120px
    color: $color-secondary-light
    font-family: $font-title
    font-weight: 600
    text-align: center
    margin-bottom: 250px
    text-shadow: 1px 1px 2px #000

.intro__bot
    display: flex
    justify-content: space-between
    align-items: center

    //padding: 0 6%

.intro__bot-txt
    color: $color-secondary-light
    font-family: $font-title
    font-size: 30px

    max-width: 500px

.intro__bot-link
    @include btn

.intro__social
    position: absolute
    top: 0
    right: -4%

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    padding: 10px

    border: 1px $color-secondary-dark solid
    border-radius: 0 0 20px 20px

    background-color: $color-secondary-dark

.intro__social-item
    margin-bottom: 10px

    a
        font-family: $font-title
        color: $color-primary-dark
        transition: color .2s linear

    &:hover
        a
            color: $color-secondary-dark
            transition: color .2s linear

a.intro__soc
    background: $color-secondary-dark
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    transition: background .2s linear !important
    &:hover
        background: $color-primary-light

.intro__soc-icon
    width: 18px
    height: 18px
    fill: $color-secondary-light