include pug_includes/header.pug

//- Nav
section.nav(style='background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 17.16%), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.94%, #000000 100%), url(img/abiturient-nav-bg.jpg)')
    .nav__inner
        h2.nav__title Абитуриенту
        nav.nav__items
            a.nav__link(href="index.html") Главная
            a.nav__link.nav__link--active(href="abiturient.html") Абитуриенту

//- Abiturient
section.abitur.container
    h2.abitur__title Наши специальности
    ul.abitur__list
        li.abitur__list-item: a(href="spec-1.html") Правоведение
        li.abitur__list-item: a(href="spec-2.html") Операционная деятельность в логистике
        li.abitur__list-item: a(href="spec-3.html") Бухгалтерский учет, анализ и контроль
        li.abitur__list-item: a(href="spec-4.html") Программное обеспечение информационных технологий
        li.abitur__list-item Мерчендайзинг (Набор не ведётся!)
        li.abitur__list-item Коммерческая деятельность (Набор не ведётся!)
    h2.abitur__title Cроки приема документов и испытания
    p.abitur__text Прием в колледж осуществляется на конкурсной основе в соответствии с контрольными цифрами приема на условиях оплаты подготовки юридическими (в том числе организаций потребительской кооперации) или физическими лицами.
    p.abitur__text Преимущественное право на зачисление по всем формам обучения при одинаковом количестве баллов, кроме лиц, указанных в Правилах приема в средние специальные учебные заведения и Правилах приема в учреждения, обеспечивающие получение профессионально-технического образования, имеют абитуриенты, имеющие направления организаций потребительской кооперации.
    table.abitur__table
        caption Уровень среднего специального образования
        tr
            th
            th На основе общего базового образования
            th На основе общего среднего образования (профессионально-технического с общим средним образованием)
        tr
            td(colspan="3").abitur__table-subtitle Прием документов
        tr
            td На платной основе
            td С 20 июля по 14 августа
            td С 20 июля по 16 августа
        tr
            td(colspan="3").abitur__table-subtitle Зачисление
        tr
            td На платной основе
            td По 16 августа
            td По 17 августа
    p.table__ps Зачисление на все формы получения образования осуществляется по конкурсу среднего балла документа об образовании.
    p.abitur__text Прием документов от иностранных граждан и лиц без гражданства: за счет средств бюджета или на платной основе в соответствии с международными договорами Республики Беларусь - по 3 августа; на платной основе по результатам итоговой аттестации при освоении содержания образовательной программы подготовки лиц к поступлению в учреждения образования Республики Беларусь - по 3 августа;
    p.abitur__text На платной основе по результатам собеседования в учреждении среднего специального образования, устанавливающего уровень владения ими языком, на котором осуществляется образовательный процесс, в объеме, достаточном для освоения содержания образовательной программы среднего специального образования, - по 15 октября.
    h2.abitur__title Документы
    ul.abitur__list
        li.abitur__list-item Заявление на имя руководителя учреждения образования по установленной форме;
        li.abitur__list-item Документ об образовании (оригинал) и приложения к нему;
        li.abitur__list-item Медицинская справка по форме установленной Министерством здравоохранения;
        li.abitur__list-item 6 конвертов с марками по РБ;
        li.abitur__list-item 6 фотографий размером 3х4 см;
        li.abitur__list-item Выписку из трудовой книжки (для поступающих на заочную форму обучения);
        li.abitur__list-item Направление заказчика на подготовку абитуриента (для абитуриентов, поступающих на условиях оплаты подготовки юридическими (в том числе организациями потребительской кооперации) лицами);
        li.abitur__list-item Документы, подтверждающие право абитуриента на льготы при приеме на обучение;
        li.abitur__list-item Карта прививок (для поступающих на дневную форму получения образования);
        li.abitur__list-item Папка-скоросшиватель (картонная);
        li.abitur__list-item Абитуриент лично предоставляет паспорт или документ, который его заменяет.
        li.abitur__list-item Родители лично предоставляют паспорт или документ, который его заменяет для заключения договора.
    h2.abitur__title Квалификационная характеристика специалиста
    ul.character__list
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-25 01 35 Бухгалтерский учет, анализ и контроль 2015 г.
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-40-01 01 Программное обеспечение информационных технологий 2019 г.
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-25 01 10 Коммерческая деятельность (Экономическая деятельность и услуги) 2017 г.
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-24 01 02 Правоведение 2016 г.
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-25 01 01 Коммерческая деятельность (Товароведение) 2017 г.
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-26 02 32 Операционная деятельность в логистике  2016 г.
        li.character__list-list: a(href="#") Образовательный стандарт Среднее специальное образование Специальность 2-26 02 33 Визуальный мерчендайзинг 2018 г.
    h2.abitur__title График работы приемной комиссии
    p.table__ps Приемная комиссия работает: понедельник - суббота с 9-00 до 18-00
    p.abitur__subtitle Сроки приёма документов:
    p.abitur__term Уровень среднего специального образования
    p на основе общего базового образования - с 20 июля по 14 августа(включительно).
    p на основе общего среднего образования - с 20 июля по 16 августа(включительно).
    p.abitur__subtitle Открытое зачисление абитуриентов в число учащихся:
    p.abitur__term Уровень среднего специального образования
    p на основе общего базового образования - 16 августа 2019 года в 12-00 (актовый зал колледжа).
    p на основе общего среднего образования - 17 августа 2019 года в 12-00 (актовый зал колледжа).
include pug_includes/footer.pug