include pug_includes/header.pug

//- Nav
section.nav(style='background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 17.16%), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.94%, #000000 100%), url(img/nav-bg.jpg)')
    .nav__inner
        h2.nav__title История
        nav.nav__items
            a.nav__link(href="index.html") Главная
            a.nav__link.nav__link--active(href="history.html") История

//- History
section.history
    .container
        .history__timeline
            ul
                li
                    .history__timeline-time
                        h4 1959 год
                    .history__timeline-content
                        p В здании Молодечненского облпотребсоюза начал свою деятельность Молодечненский кооперативный техникум                  
                        
                li
                    .history__timeline-time
                        h4 1967 год
                    .history__timeline-content
                        p Принято в эксплуатацию новое общежитие на 632 места. Для удобства проживающих в нем разместились столовая на 120 мест, здравпункт, читальный зал, комната отдыха
                li
                    .history__timeline-time
                        h4 1986 год
                    .history__timeline-content
                        p Открыто на базе техникума профессионально-техническое училище по подготовке продавцов                  
                        
                li
                    .history__timeline-time
                        h4 1996 год
                    .history__timeline-content
                        p Открыта специальность «Коммерческая деятельность»
                li
                    .history__timeline-time
                        h4 2002 год
                    .history__timeline-content
                        p Открыта специальность «Правоведение»                 
                        
                li
                    .history__timeline-time
                        h4 2003 год
                    .history__timeline-content
                        p Открыта специальность «Программное обеспечение информационных технологий»
                li
                    .history__timeline-time
                        h4 2006 год
                    .history__timeline-content
                        p Коллектив колледжа награжден Почетным знаком Белкоопсоюза в номинации «За высокие достижения в подготовке кадров»                 

include pug_includes/footer.pug