include pug_includes/header.pug

//- Intro
section.intro(style='background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 17.16%), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.94%, #000000 100%), url(img/index/bg.jpg)')
    .container
        .intro__inner
            h1.intro__title Мтэк
            ul.intro__social
                li.intro__social-item: a(href="https://vk.com/mtecby", target="_blank").intro__soc: svg.intro__soc-icon: use(xlink:href="#icon-vk")
                li.intro__social-item: a(href="https://twitter.com/by_mtec").intro__soc: svg.intro__soc-icon: use(xlink:href="#icon-twitter")
                li.intro__social-item: a(href="https://www.youtube.com/channel/UC4B6JgjjmeZrhMnGlAx9bew").intro__soc: svg.intro__soc-icon: use(xlink:href="#icon-youtube")
            .intro__bot
                p.intro__bot-txt У нас только престижные специальности!
                a.intro__bot-link(href="history.html") История

//- News
section.news
    .container
        h2.news__title Последние новости
        .news__inner    
            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/ponasenkov.jpg")
                .news__item-content
                    p.news__item-txt Приглашаем всех желающих принять участие в проводимых мероприятиях!
                    .news__item-info
                        p.news__item-date 30.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 200

            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/goblin.jpg")
                .news__item-content
                    p.news__item-txt Новость
                    .news__item-info
                        p.news__item-date 29.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 112
            
            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/mad.jpg")
                .news__item-content
                    p.news__item-txt Новость
                    .news__item-info
                        p.news__item-date 29.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 153

            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/road.jpg")
                .news__item-content
                    p.news__item-txt Новость
                    .news__item-info
                        p.news__item-date 25.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 777

            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/vano.jpg")
                .news__item-content
                    p.news__item-txt Новость
                    .news__item-info
                        p.news__item-date 23.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 85
            
            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/ponasenkov.jpg")
                .news__item-content
                    p.news__item-txt Приглашаем всех желающих принять участие в проводимых мероприятиях!
                    .news__item-info
                        p.news__item-date 22.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 200

            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/goblin.jpg")
                .news__item-content
                    p.news__item-txt Последний раунд онлайн тура деловой игры «Моделирование управления предприятием»
                    .news__item-info
                        p.news__item-date 22.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 112
            
            .news__item
                a.news__item-link(href="#")
                img.news__item-img(src="img/index/mad.jpg")
                .news__item-content
                    p.news__item-txt Новость
                    .news__item-info
                        p.news__item-date 15.05.2020
                        .news__item-views-wrap
                            svg.news-icon 
                                use(xlink:href="#views")
                            p.news__item-views 153
                            
        a.news__archive-link(href="#") Архив новостей

//- Spec
section.spec
    .container
        h2.spec__title Наши специальности 
        .spec__inner
            .spec__item
                .spec__item-wrap
                    a.spec__item-link(href="#") 
                    .spec__item-front
                        svg.spec__item-icon 
                            use(xlink:href="#law")
                        h3.spec__item-title Правоведение                       
                    .spec__item-back
                        p.spec__item-txt <span>Форма обучения:</span> дневная, заочная, платная.
                        p.spec__item-txt <span>Срок обучения:</span> 2 г. 10 м. (9 классов), 1 г. 10 м. - дневная, 2 г. 7 м. - заочная (11 классов)
                        p.spec__item-txt <span>Квалификация:</span> юрист                       

            .spec__item
                .spec__item-wrap
                    a.spec__item-link(href="#") 
                    .spec__item-front
                        svg.spec__item-icon 
                            use(xlink:href="#logistics")
                        h3.spec__item-title Операционная деятельность в логистике                       
                    .spec__item-back
                        p.spec__item-txt <span>Форма обучения:</span> дневная, платная.
                        p.spec__item-txt <span>Срок обучения:</span> 2 г. 10 м. (9 классов), 1 г. 10 м. (11 классов)
                        p.spec__item-txt <span>Квалификация:</span> операционный логист                    

            .spec__item
                .spec__item-wrap
                    a.spec__item-link(href="#") 
                    .spec__item-front
                        svg.spec__item-icon 
                            use(xlink:href="#accounting")
                        h3.spec__item-title Бухгалтерский учёт, анализ и контроль                                 
                    .spec__item-back
                        p.spec__item-txt <span>Форма обучения:</span> дневная, заочная, платная.
                        p.spec__item-txt <span>Срок обучения:</span> 2 г. 10 м. (9 классов), 1 г. 10 м. - дневная, 2 г. 8 м. - заочная (11 классов)
                        p.spec__item-txt <span>Квалификация:</span> бухгалтер                  
            
            .spec__item
                .spec__item-wrap
                    a.spec__item-link(href="#") 
                    .spec__item-front
                        svg.spec__item-icon 
                            use(xlink:href="#code")
                        h3.spec__item-title Программное обеспечение информационных технологий                                 
                    .spec__item-back
                        p.spec__item-txt <span>Форма обучения:</span> дневная, платная.
                        p.spec__item-txt <span>Срок обучения:</span> 3 г. 10 м. (9 классов), 2 г. 10 м. (11 классов)
                        p.spec__item-txt <span>Квалификация:</span> техник-программист   
            //- iframe(width='560', height='315', src='https://www.youtube.com/embed/LSUEBq0XxXw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

//- Resources
section.res
    .container
        h2.res__title Внешние ресурсы
        .res__inner
            .owl-carousel.owl-theme#owl1
                .item                
                    img.res__item-img(src="img/index/r1.png", alt="МЧС РБ")
                    h4.res__item-title МЧС Республики Беларусь
                    a.res__item-link(href="https://mchs.gov.by", target="_blank")
                .item                
                    img.res__item-img(src="img/index/r2.png", alt="Белкоопсоюз")
                    h4.res__item-title Белкоопсоюз
                    a.res__item-link(href="https://bks.gov.by", target="_blank")
                .item                
                    img.res__item-img(src="img/index/r3.jpg", alt="Каталог абитуриента")
                    h4.res__item-title Справочный ресурс для поступающих
                    a.res__item-link(href="http://www.abiturient.by", target="_blank")
                .item                
                    img.res__item-img(src="img/index/r4.png", alt="Сайт Президента Республики Беларусь")
                    h4.res__item-title Сайт Президента Республики Беларусь
                    a.res__item-link(href="http://president.gov.by", target="_blank")
                .item                
                    img.res__item-img(src="img/index/r5.jpg", alt="Выборы 2020")
                    h4.res__item-title Выборы президента 2020
                    a.res__item-link(href="http://molodechno.minsk-region.by/vybory-2020", target="_blank")
                .item                
                    img.res__item-img(src="img/index/r6.png", alt="Сайт Республики Беларусь")
                    h4.res__item-title Сайт Республики Беларусь
                    a.res__item-link(href="https://belarus.by", target="_blank")

include pug_includes/footer.pug