include pug_includes/header.pug

//- Nav
section.nav(style='background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 17.16%), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.94%, #000000 100%), url(img/nav-bg.jpg)')
    .nav__inner
        h2.nav__title Новости
        nav.nav__items
            a.nav__link(href="index.html") Главная
            a.nav__link(href="news-arch.html") Новости
            a.nav__link.nav__link--active(href="news.html") Заголовок новости

//- News-page
.container
    .news-page
        .news-page__title Заголовок новости
        .news-page__info
            .news-page__date-wrap
                svg.news-page__icon
                    use(xlink:href="#calendar")
                p.news-page__date 25.05.2020
            .news-page__views-wrap
                svg.news-page__icon
                    use(xlink:href="#views")
                p.news-page__views 200

        .news-page__txt
            p.news-page__txt-item Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis nulla ullam tempore, veritatis commodi, sed quo consequuntur officia sint error placeat voluptates praesentium, nisi totam. Facere laudantium earum suscipit eaque?
            p.news-page__txt-item Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis nulla ullam tempore, veritatis commodi, sed quo consequuntur officia sint error placeat voluptates praesentium, nisi totam. Facere laudantium earum suscipit eaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis ducimus sapiente dicta quasi quibusdam! Voluptas dolores iure repellendus, vitae cumque reiciendis veniam nam esse, recusandae molestiae velit, molestias blanditiis!Excepturi, laborum! Rem magni adipisci delectus, blanditiis non sunt. Iusto quibusdam quidem similique distinctio molestiae omnis error aperiam voluptas veniam, quia deleniti maiores vero. Culpa voluptates enim delectus blanditiis sequi.Commodi perferendis odio itaque laborum qui totam id repellendus hic, delectus ad facilis quas assumenda. Cumque eaque quia nam nihil modi adipisci facere mollitia harum, rem voluptatibus eius officia laboriosam!
            p.news-page__txt-item Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis nulla ullam tempore, veritatis commodi, sed quo <a class="news-page__txt-link" href="#"> consequuntur </a> officia sint error placeat voluptates praesentium, nisi totam. Facere laudantium earum suscipit eaque?

        .news-page__visual
            img.news-page__visual-item(src="img/nav-bg.jpg", alt="")
            iframe.news-page__visual-item(width='560', height='315', src='https://www.youtube.com/embed/LSUEBq0XxXw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

include pug_includes/footer.pug