include pug_includes/header.pug

//- Nav
section.nav(style='background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 17.16%), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.94%, #000000 100%), url(img/nav-bg.jpg)')
    .nav__inner
        h2.nav__title Новости
        nav.nav__items
            a.nav__link(href="index.html") Главная
            a.nav__link.nav__link--active(href="history.html") Новости   

//- News
.news-p.container
    .news-p__inner
        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/goblin.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Современные методики изучения и преподавания иностранных языков
                p.news-p__txt 7 мая 2020 года учреждение образования «Молодечненский торгово-экономический колледж» Белкоопсоюза приняло Участие в онлайн семинаре «Современные методики изучения и преподавания иностранных языков»
                .news-p__item-info
                    p.news-p__item-date 29.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 112

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/ponasenkov.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Земля – наш общий дом
                p.news-p__txt 27 марта 2020 года на базе филиала «Молодечненский государственный политехнический колледж» учреждения образования «Республиканский институт  профессионального образования» прошла научно-практическая конференция “Земля – наш общий дом”. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae tenetur quas velit at, esse rem debitis dolorum eaque, aspernatur fuga maiores quidem corrupti? Aliquam pariatur harum at, deserunt consequatur asperiores?
                .news-p__item-info
                    p.news-p__item-date 28.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 250

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/mad.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Современные методики изучения и преподавания иностранных языков
                p.news-p__txt 7 мая 2020 года учреждение образования «Молодечненский торгово-экономический колледж» Белкоопсоюза приняло Участие в онлайн семинаре «Современные методики изучения и преподавания иностранных языков»
                .news-p__item-info
                    p.news-p__item-date 25.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 351

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/road.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Земля – наш общий дом
                p.news-p__txt 27 марта 2020 года на базе филиала «Молодечненский государственный политехнический колледж» учреждения образования «Республиканский институт  профессионального образования» прошла научно-практическая конференция “Земля – наш общий дом”. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae tenetur quas velit at, esse rem debitis dolorum eaque, aspernatur fuga maiores quidem corrupti? Aliquam pariatur harum at, deserunt consequatur asperiores?
                .news-p__item-info
                    p.news-p__item-date 20.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 1107

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/goblin.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Современные методики изучения и преподавания иностранных языков
                p.news-p__txt 7 мая 2020 года учреждение образования «Молодечненский торгово-экономический колледж» Белкоопсоюза приняло Участие в онлайн семинаре «Современные методики изучения и преподавания иностранных языков»
                .news-p__item-info
                    p.news-p__item-date 19.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 212

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/ponasenkov.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Земля – наш общий дом
                p.news-p__txt 27 марта 2020 года на базе филиала «Молодечненский государственный политехнический колледж» учреждения образования «Республиканский институт  профессионального образования» прошла научно-практическая конференция “Земля – наш общий дом”. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae tenetur quas velit at, esse rem debitis dolorum eaque, aspernatur fuga maiores quidem corrupti? Aliquam pariatur harum at, deserunt consequatur asperiores?
                .news-p__item-info
                    p.news-p__item-date 18.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 377

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/mad.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Современные методики изучения и преподавания иностранных языков
                p.news-p__txt 7 мая 2020 года учреждение образования «Молодечненский торгово-экономический колледж» Белкоопсоюза приняло Участие в онлайн семинаре «Современные методики изучения и преподавания иностранных языков»
                .news-p__item-info
                    p.news-p__item-date 14.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 98

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/vano.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Земля – наш общий дом
                p.news-p__txt 27 марта 2020 года на базе филиала «Молодечненский государственный политехнический колледж» учреждения образования «Республиканский институт  профессионального образования» прошла научно-практическая конференция “Земля – наш общий дом”. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae tenetur quas velit at, esse rem debitis dolorum eaque, aspernatur fuga maiores quidem corrupti? Aliquam pariatur harum at, deserunt consequatur asperiores?
                .news-p__item-info
                    p.news-p__item-date 10.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 789

        .news-p__item
            .news-p__item-img-wrap
                a.news-p__item-img-link(href='#')
                .news-p__item-img-hover
                img.news-p__item-img(src='img/index/goblin.jpg')               
            .news-p__content
                a.news-p__title-link(href='#') Современные методики изучения и преподавания иностранных языков
                p.news-p__txt 7 мая 2020 года учреждение образования «Молодечненский торгово-экономический колледж» Белкоопсоюза приняло Участие в онлайн семинаре «Современные методики изучения и преподавания иностранных языков»
                .news-p__item-info
                    p.news-p__item-date 09.05.2020
                    .news-p__item-views-wrap
                        svg.news-icon 
                            use(xlink:href='#views')
                        p.news-p__item-views 993

        .pag
            a.pag__prev(href="#") &#60;
            a.pag__num.active(href="#") 1
            a.pag__num(href="#") 2
            a.pag__num(href="#") 3
            a.pag__num(href="#") 4
            a.pag__num(href="#") 5
            a.pag__num(href="#") 6
            a.pag__num(href="#") 7
            .pag__num(href="#") ...
            a.pag__num(href="#") 15
            a.pag__num(href="#") 30
            a.pag__next(href="#") &#62;

include pug_includes/footer.pug