.hdr
    padding: 35px 0
    font-size: 16px

.hdr__container
    display: flex
    justify-content: space-between
    align-items: center

.hdr__desc
    max-width: 300px
    color: $color-primary-light
    font-family: $font-title

.hdr__menu-link
    color: $color-primary-dark
    margin-left: 20px
    position: relative
    &:before
        content: ''
        position: absolute
        width: 0px
        height: 2px
        bottom: -2px
        left: 50%
        background-color: $color-secondary-dark
        transition: width .25s, left .25s
    &:hover:before
        width: 100%
        left: 1px

