.hdr
    padding: 10px 0
    font-size: 16px

.hdr__container
    display: flex
    justify-content: space-between
    align-items: center

.hdr__logo-container
    display: flex
    align-items: center
    justify-content: flex-start

.hdr__logo
    max-width: 100px
    margin-right: 20px

.hdr__desc
    max-width: 270px
    color: $color-primary-light
    font-family: $font-title
    font-weight: 600
