$color-primary-light: #088ccf;
$color-primary-dark: #3d3d3d;
$color-secondary-light: #fff;
$color-secondary-dark: #888;
$color-tertiary: #ec545e;

$font-txt: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;