$color-primary-light: #1e69ff;
$color-primary-dark: #18171d;
$color-secondary-light: #fff;
$color-secondary-dark: #ffa048;
$color-tertiary-dark: #888;

$font-txt: 'Roboto', sans-serif;
$font-title: 'Montserrat', sans-serif;
