$color-primary-light: #459Bff;
$color-primary-dark: #111;
$color-secondary-light: #fff;
$color-secondary-dark: #ffA048;
$color-tertiary-dark: #888;
$color-footer: #565656;

$font-txt: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;
